.options-btn {
    background-color: var(--text-color);
    cursor: pointer;
    transition: all 0.6s ease-in-out;
    border-color: var(--primary-color);
}

.options-btn:hover {
    box-shadow: var(--text-color) 0px 19px 43px;
    transform: translate3d(0px, -1px, 0px);
}

.questions-sets {
    margin-top: -10rem;
}

.timer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 10rem;
    font-size: 1.5rem;
}

@media (max-width:768px) {
    .answer-options {
        width: 85%;
        margin-left: 3rem;
    }

    .questions-sets {
        margin-top: 2rem;
    }

    .options-btn {
        width: 65%;
    }
}