.heading{
    margin-top: -9rem;
}
.heading span {
    padding: .5rem 2rem;
    border: 2px solid var(--bg-color);
    cursor: pointer;
}
.heading span:hover {
    border-color: var(--text-color);
}
.center3{
    width: 280px;
    height: 57vh;
}
.img2{
    width: 280px;
}
.container2 {
    transition: all 0.6s ease-in-out;
}

.container2:hover {
    box-shadow: var(--bg-color) 0px 19px 43px;
    transform: translate3d(0px, -1px, 0px);
}

.head3-2 {
    color: var(--primary-color);
}

@media (max-width:768px) {
    .center3 {
        height: 38vh;
    }

    .heading {
        margin-top: 4rem;
    }
}